/* 
    General Styles
*/
.brand-size{
    width: 125px;
}

.card-size{
    width: 500px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
}

.img-size-card{
    height: 300px;
    width: 100%;
}

.img-size-detail{
    padding: 0px 0px 50px 0px;
    height: 500px;
    width: 100%;
}